
/* Flight Action */
.flight_action {
padding: 5px 15px;
}
.flight_action_dual_switch {
max-width: max-content;
}
.flight_action_flight_row {
display: flex;
gap: 10px;
min-height: 24px;
}
@media  (max-width: 768px){ 
    .flight_action_flight_row  {
        display: flex;
        gap: 10px;
        min-height: 24px;
        flex-direction: column;
}
}
.flight_action_input {
max-width: 300px;
}